@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Start first sec */
.wraper * {
    font-family: "Lato", sans-serif;
}

.wraper {
    max-width: 1100px;
    margin: 50px auto 0;
    padding: 0 15px;
}

.wraper h1 {
    font-size: 36px;
    margin-bottom: 35px;
}

.galary .cont {
    position: relative;
    display: none;
}

.cont.active {
    display: block;
}

.cont > span {
    background-color: white;
    position: absolute;
}

.cont > span.active {
    animation: move 0.4s ease forwards;
}

.cont:nth-of-type(2) > span.active {
    animation: move2 0.4s ease forwards;
}

@keyframes move {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes move2 {
    0% {
        opacity: 0;
        transform: translateY(300px) translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) translateX(-50%);
    }
}

.cont:first-of-type > span {
    top: 20px;
    left: 20px;
    padding: 10px;
}
.cont:nth-of-type(2) > span {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}
.cont:nth-of-type(3) > span {
    top: 20px;
    right: 20px;
    padding: 10px;
}

.cont img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.galary .galary-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(89, 89, 89);
    padding: 8px 16px;
}

.back,
.forward {
    color: white;
    font-size: 36px;
    cursor: pointer;
}

.galary-icons {
    display: flex;
    gap: 10px;
}
.galary-icons > * {
    width: 15px;
    height: 15px;
    display: block;
    border: 0.6px solid rgba(255, 255, 255, 0.651);
    cursor: pointer;
}
.galary-icons > .active {
    background-color: white;
}
/* End First sec */
/* What we offer start */
.main-offer{
    width: 100%;
    margin: 65px auto 50px auto;
    font-family: "Lato", sans-serif;
}
.offer-head{
    color: black;
    text-align: center; 
    font-size: 25px;
}
.offer-head hr{
    width: 163px;
    margin: 10px auto 10px auto;
    border: 3px solid gray;
}
.Offer-text{
    display: grid;
    margin: 50px auto 40px auto;
    grid-template-columns: repeat( auto-fill , calc(1070px/4) );
    grid-template-rows: repeat( 2 , auto );
    justify-content: center;
    width: 90vw;
    max-width: 1070px;
}
.Offer-text .one{
    background-color: #f1f1f1;
    color: black;
}
.Offer-text .two{
    background-color: #9e9e9e;
    color: black;
}
.Offer-text .three{
    background-color: #616161;
    color: white;
}
.Offer-text .four{
    background-color: #000;
    color: white;
}
.Offer-text div{
    padding: 10px;
    height: fit-content;
    line-height: 22px;
    padding: 10px 15px 20px 20px;
    text-transform: lowercase
}
.Offer-text div::first-line{
    font-size: 25px;
    line-height: 65px;
    text-transform: capitalize;
}
/* End What we offer */

/* start section p-Plans */

.Pricing{
    width: 100%;
    flex-wrap: wrap;
    padding-top: 64px;
    padding-bottom: 64px;
    font-family: "Lato", sans-serif;
}
.p-Plans .Pricing h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
}
.p-Plans .Pricing p{
    text-align: center;
    margin-bottom: 20px;
}
.B-P-P{
    text-align: center;
    font-family: "Lato", sans-serif;
}
.Basic{
    width: 94%;
    margin: auto 1.5% auto 3%;
    list-style: none;
    margin-bottom: 80px;
}
.Basic:hover{
    box-shadow: 3px 3px 3px 3px #868585;
}
.B-a-s-i-c{
    background-color: #000;
    height: 100px;
    font-size: 20px;
    color: #fff;
    padding-top: 38px;
}
.B-a-s-i-c-1{
    background-color: #616161;
    height: 100px;
    font-size: 20px;
    color: #fff;
    padding-top: 38px;
}
.li-ul-4{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-top: 16px;
    padding-bottom: 16px;
}
.li-ul-5{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #f1f1f1;
}
.li-ul-4 h1{
    padding-bottom: 20px;
    font-family: "Lato", sans-serif;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 400;
}
.li-ul-5 h1{
    padding-bottom: 20px;
    font-family: "Lato", sans-serif;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 400;
}
.button-1{
    margin: 10px 0 10px 0;
    width: 120px;
    height: 50px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
}
.button-1:hover{
    color: #000;
    background-color: #ccc;
}

/* start section p-Plans *

/* start @media section p-Plans */
    /* mopil */
    @media (min-width: 320px) and (max-width: 480px){
    .Basic{
        margin-bottom: 20px;
    }
    }
    @media (min-width: 480px) and (max-width: 600px){
        .Basic{
            margin-bottom: 20px;
        }
    }
    @media (min-width: 600px) and (max-width: 800px){
        .Basic{
            margin-bottom: 20px;
        }
        .B-P-P{
            margin-bottom: 80px;
        }
    }
    /* small screen */
    @media (min-width: 767px){
        .Basic{
            margin-bottom: 80px;
        }
    }
    @media (min-width: 768px) {
        .B-P-P{
            display: flex;
            width: 97%;
            margin: 0 2% 0 1%; 
        }
    }
    /* mudim screen */
    @media (min-width: 992px){
        .B-P-P{
        width: 97%;
        margin: 0 2% 0 1%;
    }
    }
    /* larg screen */
    @media (min-width: 1200px){
        .B-P-P{
            width: 84%;
            margin: 0 8% 0 8%;   
        }
    }
    
    /* end @media section p-Plans */

/* What we offer start */
@media (max-width:768px){
    .Offer-text{
        width: 95%;
        grid-template-columns: repeat( auto-fill , 100% );
        margin-left: auto;
        margin-right: auto;
    }
}
/* End What we offer */
/*the start of who we are*/
.ll{
    font-size: 25px;
    font-family: "Lato", sans-serif;
    text-align: center;
}
.sl{
    color: black;
    line-height: 15%;
}
.u{
    color: #4c4c4c;
    font-weight:bolder;
    line-height: 15%;
}
.t1
,.t2
,.t3{
    font-size: 24px;
    font-family: "Lato", sans-serif;
    text-align: left;
    line-height: 50px;
}
.k1,.k2,.k3{
    font-family: "Lato", sans-serif;
    color: #8f8c8c;
    font-size: 99%;
    font-weight:lighter;
    line-height: 50px;
}
.allboxes{
    margin-left: 5%;
    display:flex;
    width: 95%;
}
.content{
    font-family: "Lato", sans-serif;
    font-size: 90%;
}

.smallboxes{
    width: 30%;
    margin-top: 50px;
    margin-right: 2%;
    box-shadow: 3px -3px 9px 4px rgba(128, 128, 128, 0.256);
    height: 90%;
    border-style: groove;
    border-color: #63626222;
}
.content{
    display: inline;
}
.pp{
    height: 40%;
    width: 100%;
    margin: 0%;
}
.pp2{
    height: 40%;
    width: 100%;
}
.bu{
    margin-left: 6.8%;
    text-decoration: none;
    width: 85%;
    font-size: 90%;
    line-height: 260%;
    border: none;
    margin-bottom: 5%;
}
.bu:hover:hover{
    background-color: #83797956;

}
.nn{
    padding: 5.5%;
}
@media (max-width: 605px) {
    .allboxes{
        flex-direction: column;
        align-items: center !important;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2.3%;
    }
    .allboxes > div{
        width: 90%;
    }
}
/*the end of who we are*/
